.Home {
    position: relative;

    &__title {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 250px;
        font-weight: 800;
        color: $secondary-light;

        // z-index: 2000;
        pointer-events: none;
    }
}