/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html, body, input, select, textarea, button {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6eaf5), color-stop(80%, #f6f6f6));
  background: linear-gradient(180deg, #e6eaf5 0%, #f6f6f6 80%);
}

.bg-0 {
  background-color: black;
}

body {
  width: 100vw;
  height: 100vh;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.my-1 {
  margin: 5px 0;
}

.my-2 {
  margin: 10px 0;
}

.my-3 {
  margin: 15px 0;
}

.my-4 {
  margin: 20px 0;
}

.my-5 {
  margin: 25px 0;
}

.mx-1 {
  margin: 0 5px;
}

.mx-2 {
  margin: 0 10px;
}

.mx-3 {
  margin: 0 15px;
}

.mx-4 {
  margin: 0 20px;
}

.mx-5 {
  margin: 0 25px;
}

.pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__heading {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  color: #3b3f8d;
  font-weight: 800;
}

.navbar__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__link {
  font-weight: 400;
  color: #6c71d1;
}

.navbar__link-active {
  font-weight: 600;
  color: #3b3f8d;
}

.Home {
  position: relative;
}

.Home__title {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 250px;
  font-weight: 800;
  color: #7f84ec71;
  pointer-events: none;
}

.leva-c-kWgxhW-bCBHqk-fill-false {
  left: 50px;
  top: 120px;
}

.status {
  position: absolute;
  bottom: 6vw;
  left: calc(50% - 6px);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px 4px;
  border-radius: 50%;
}

.name {
  position: relative;
  font-size: 12px;
  color: #3b3f8d;
}

.btn {
  height: 40px;
  border-radius: 4px;
  color: #222342;
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.btn-primary {
  background-color: #3b3f8d;
  color: white;
}

.btn-primary:hover {
  background-color: #1d1f45;
}

.btn-secondary {
  background-color: #6c71d1;
  color: white;
}

.btn-secondary:hover {
  background-color: #3b3f8d;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn-outline:hover {
  background-color: #6c71d1;
  border: none;
}

.btn-block {
  width: 100%;
}

.btn-mid {
  width: 30%;
}

.btn-small {
  height: 30px;
  width: 60px;
}

.btn:disabled {
  background-color: #6c71c2;
  cursor: default;
}

.Toroide {
  position: relative;
}

.Toroide__title {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #222342c0;
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: -4px;
  line-height: 1;
  z-index: -1;
}

.Toroide__subtitle {
  position: absolute;
  top: 78%;
  left: 26%;
  color: #3b3f8d;
  font-size: 22px;
  font-weight: 800;
}

.card {
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 6px;
  padding: 12px;
  background-color: white;
}

.card__body {
  width: 78%;
  height: 76px;
  padding-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.card__title {
  font-size: 14px;
  color: #222342;
}

.card__content {
  font-size: 13px;
}

.card__date {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 20%;
  padding: 2px;
  text-align: right;
}

.card__date span {
  font-size: 12px;
}

.link {
  color: #15e991;
}

.link:hover {
  font-weight: 500;
}

.container {
  width: 100%;
  min-height: 90vh;
  overflow: hidden;
}
/*# sourceMappingURL=index.css.map */