html, body, input, select, textarea, button {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}