// Colors
$primary: #3b3f8d;
$secondary: #6c71d1;
$contrast: #15e991;
$dark: #222342;

$light-grey:#d8d8d8;
$light-grey-mid:#d8d8d8b2;
$light-grey-soft:#d8d8d896;

$primary-mid: #5c61c5be;
$secondary-mid: #7f84ecbe;
$dark-mid: #222342c0;

$primary-light: #5c61c58f;
$secondary-light: #7f84ec8c;
$dark-light: #2223428f;

